@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');


*{
    /* margin: 0; */
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    /* background: linear-gradient(to bottom right, #33ccff 0%, #ff99cc 100%); */
    /* background: radial-gradient(309px at 10% 24.3%, rgb(17, 127, 238) 0%, rgb(190, 47, 252) 90%); */
    /* background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%); */
    background: linear-gradient(to right, rgb(18, 194, 233), rgb(196, 113, 237), rgb(246, 79, 89));
}

.container {
    width: 600px;;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 8px 8px 8px 0 rgb(161, 4, 145);
}

h2{
    margin-top: 40px;
    margin-bottom: 40px;
    /* text-shadow: 2px 2px 8px rgb(161, 4, 145); */
    text-shadow: 10px 6px 2px pink;
}

#first_username, #last_username, #email, #phone{
    display: inline-block;
    padding: 12px 14px;
    border-radius: 6px;
    margin-bottom: 20px;
    margin-left: 15px;
    border: 1px solid rgb(168, 166, 166);
    /* background-color: rgb(245, 238, 238); */
    background-color: rgb(244, 236, 247);
}

#first_username:hover{
    box-shadow: 10px 5px 5px rgb(190, 47, 252);
    transition: 0.3s;
}

#last_username:hover{
    box-shadow: 10px 5px 5px rgb(190, 47, 252);
    transition: 0.5s;
}
#email:hover{
    box-shadow: 10px 5px 5px rgb(190, 47, 252);
    transition: 0.3s;
}
#phone:hover{
    box-shadow: 10px 5px 5px rgb(190, 47, 252);
    transition: 0.3s;
}
#address {
    display: inline-block;
    width: 350px;
    padding: 14px 14px;
    border-radius: 8px;
    margin-left: 17px;
    margin-bottom: 20px;
    border: 1px solid rgb(168, 166, 166);
    background-color: rgb(245, 238, 238);
}
#address:hover{
    box-shadow: 10px 5px 5px rgb(190, 47, 252);
}

textarea {
    width: 350px;
    height: 110px;
    border-radius: 8px;   
    padding: 14px 14px;
    margin-left: 17px;
    resize: none;
    margin-bottom: 20px;
    border: 1px solid rgb(168, 166, 166);
    background-color: rgb(245, 238, 238);
    /* border: black 3px solid; */
}
textarea:hover{
    box-shadow: 10px 5px 5px rgb(190, 47, 252);
}

button{
    padding: 16px 28px;
    font-weight: 400;
    margin-top: 18px;
    border-radius: 26px;
    border: 1px solid rgb(168, 166, 166);
    /* background-color: rgb(114, 114, 206); */
    background-color: rgb(190, 47, 252);
    color: #fff ;
    font-size: 14px;
}


 
